<html>  
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          setInterval(emitUpdateSignal, 5000);

      });
      function emitUpdateSignal(){
        var theMapIframe = document.getElementById('theMapFrame').contentWindow;
        // mapID = theIframe.document.body.getElementsByClassName("folium-map")[0].id
        var mapID = theMapIframe.document.body.childNodes[1].id;
        var mapObj = theMapIframe[mapID];
        var lat = mapObj.getCenter()["lat"];
        var long = mapObj.getCenter()["lng"];
        var zoom = mapObj.getZoom();
        //console.log(lat)
        //console.log(long)
        //console.log(zoom)

        socket.emit('mapUpdateEvent', lat, long, zoom);
      }
      socket.on('mapCreated',function() {
          document.getElementById('theMapFrame').contentWindow.location.reload();
      });
  </script>
  </head>
  <body>
     <iframe id = "theMapFrame" src="/static/heatMap.html"></iframe>
  </body>
</html> 