<html>  
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          setInterval(emitUpdateSignal, 5000);

      });
      function emitUpdateSignal(){
        var theMapIframe = document.getElementById('theMapFrame').contentWindow;
        // mapID = theIframe.document.body.getElementsByClassName("folium-map")[0].id
        var mapID = theMapIframe.document.body.childNodes[1].id;
        var mapObj = theMapIframe[mapID];
        var lat = mapObj.getCenter()["lat"];
        var lon = mapObj.getCenter()["lng"];
        var zoom = mapObj.getZoom();

        //var theMap2Iframe = document.getElementById('theMapFrame2').contentWindow;
        //var map2ID = theMap2Iframe.document.body.childNodes[1].id;
        //var map2Obj = theMap2Iframe[map2ID];

        //map2Obj.setView([lat,lon],zoom);
        //map2Obj.setCenter()["lng"] = lon;
        //map2Obj.setZoom(zoom);

        console.log(mapObj.getCenter()["lng"]);
        console.log(lon);
        //console.log(map2Obj.getCenter()["lng"]);

        socket.emit('mapUpdateEvent', lat, lon, zoom);
      }
      socket.on('mapCreated',function() {
          document.getElementById('theMapFrame').contentWindow.location.reload();
      });
      
  </script>
  </head>
  <body>
    <div>
      

      <iframe id = "theMapFrame" src="/static/heatMap.html" style="position :absolute; top:0; left:0;border: 0; width: 100%; height: 100%"></iframe>
    </div>
  </body>
</html> 